* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

nav {
    background: #010101;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    align-items: center;
    height: 3rem;
    color: #fff;
}

.logo {
    font-weight: bold;
    font-size: 1.3rem;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    text-decoration: none;

}

.menu p {
    margin-left: 1rem;
}

.img-photo {
    display: flex;
    padding-top: 2rem;
    justify-content: center;
}

.img-photo img {
    width: 30rem;
    height: 30rem;
    box-shadow: 2px 2px 8px 12px rgba(0, 0, 0, 0.56);
    border-radius: 100rem;
    

}

.id-name {
    display: flex;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
    row-gap: 2%;
    
    width: 100%;
    height: auto;
    padding: 2rem;
    justify-content: center;
}

.container-box {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 5%;
    background-color: rgb(225, 225, 225);
    border-radius: 50px;
    color: rgb(0, 0, 0);
}

.container-photo {
    height: 200px;
    width: 200px;
    margin: auto;
    
}

.container-photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.header-title {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.text {
    margin-top: 20px;
    
}

.text p {
    font-size: 20px;
    margin: 5px
}